body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  background-color: rgb(124, 124, 124);  
  text-align-last: center;}


body, p, ol, ul, td {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  line-height: 35px;}
  

pre {
  background: #24c99e;
  padding: 10px;
  font-size: 11px; }

a {
  color: rgb(204, 93, 198); }

a:visited {
  color: rgb(84, 181, 194); }

a:hover {
  color: #fff;
  background-color: #000; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px;}

#notice {
  color: rgb(29, 206, 29); }


.field_with_errors {
  padding: 2px;
  background-color: orange;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid orange;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: rgb(124, 124, 124); }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: orange;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block;
  margin: 10px 10px 8px 8px; }

table {
  display: inline-block;
  margin: 10px 10px;
}

.button {
  border-radius: 10px;
  font-size: medium;
}

.line-1{
  overflow: hidden;
  border-right: .15em;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 1.5s steps(12),
    blink-caret 1s step-end;
}

@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: transparent }
}